.red-color {
  color: #f7544f;
}
.red-color-border {
  border-color: #f7544f;
}
.red-color-bg {
  background-color: #f7544f;
}
.gray-color {
  color: #e3edee;
  border-color: #e3edee;
  background-color: #f3f4f6;
}
